#walrus-showing {
  width: 80%;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

html {
  text-align: center;
}

.walrusresize {
  width: 50%;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
